@import 'reset';

$background: #2e424a;
$grey: #eef1f6;
$button1: #29af70;
$button2: #35a370;
$button3: #377e5d;

.logo-top {
  width: 100%;
  background-color: $background;
  img {
    max-width: 13%;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 2%;
  }
}

.header-main {
  position: relative;
  img {
    max-width: 56%;
    position: absolute;
    top: 5%;
    left: 2%;
  }
  form {
    font-family: Helvetica;
    margin-left: 2%;
    padding: 5px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 39%;
    position: absolute;
    height: 40%;
    bottom: 9%;
    border-radius: 5px;
    background-color: rgba(128,128,146,0.2);
    max-height: 225px;
    min-height: 200px;


    input, button {
      height: 44px;
      border-radius: 5px;
    }

    input {
      border: 1px solid darkgrey;
      padding: 0;
      padding-left: 10px;
      font-size: 20px
    }

    input::placeholder {
      font-weight: 100;
      color: lightgrey;
    }

    label, span {
      color: dimgrey;
    }

    label {
      font-size: 19px;
    }

    .company-link {
      font-size: 17px;
      &:hover {
        border-bottom: 2px solid;
        cursor: pointer;
      }
    }

    .name-and-school {
      display: flex;
      flex-direction: row;
      input {
        width: 50%;
        box-sizing: border-box;
      }
      input:last-of-type {
        margin-left: 7px;
      }
    }

    .email {
      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    button {
      background: $button1;
      color: white;
      font-size: 21px;
      border: 0px;
      font-weight: 500;
      letter-spacing: 0.5px;
      transition: background 0.5s;
      &:hover {
        background: $button3;
      }
    }
  }
  .company-tag {
    display: flex;
    position: absolute;
    margin-left: 2.5%;
    bottom: 2%;
    color: dimgrey;
    font-size: 19px;
  }
}

.logos-bottom {
  img {
    max-width: 100%;
    border: 7px solid $grey;
    border-left: 0;
    border-right: 0;
    padding: 0% 2% 0% 2%;
  }
}

.advantage-bar {
  display: flex;
  justify-content: space-evenly;

  .advantage {
    display: flex;
    color: white;
    flex-direction: column;
    background: $background;
    align-items: center;
    padding: 10px 30px;
    height: 220px;
    position:relative;
    min-height: 220px;
    min-width: 240px;

    &:hover {
      cursor: pointer;
    }

    .title {
      font-size: 19px;
      letter-spacing: 0.5px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      font-weight: 200;


      img {
        width: 80px;
        padding-bottom: 7px;
      }
    }
  }
  .border {
    background: radial-gradient(lightgrey 5%, grey 15%, $background 60%);
    width: 10px;
  }
}

.advantage-list {
  display: flex;
  flex-direction: column;


  .advantage {
    display: flex;
    flex-direction: row;
    min-height: 200px;

    &:nth-child(even) {
      background: $grey;
    }

    img {
      max-height: 160px;
      padding: 0px 40px;
    }

    .content {
      display: flex;
      flex-direction: column;
      color: $background;
      font-size: 12px;
      font-weight: 600;
      padding-top: 20px;
      padding-right: 80px;

      .title {
        padding-bottom: 10px;
        font-size: 30px;
      }
    }

  }
}
